.button-index {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @white;
  background-color: @extra-black;
  border: 3px solid currentColor;
  border-radius: 29px;
  padding: 10px;
  cursor: pointer;
}

.button-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 275px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
  padding: 10px;
  cursor: pointer;
}

.button-catalog {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @pink;
  background-color: @silver;
  border: 3px solid currentColor;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

  &--adaptive {
    width: 280px;
    height: 50px;

    @media (max-width: tablet-width) {
      width: 260px;
    }
  }

  &--disabled {
    color: @dark-blue;
    border: 3px solid currentColor;
    opacity: 0.1;
    cursor: not-allowed;
  }
}
