.footer {
  padding: 36px 0;

  @media (min-width: @tablet-width) {
    padding: 39px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 71px 0;
  }

  &--catalog {
    padding: 40px 0;

    @media (min-width: @tablet-width) {
      padding: 39px 0;
    }

    @media (min-width: @desktop-width) {
      padding: 99px 0;
    }
  }

  &--form {
    padding: 11px 0;

    @media (min-width: @tablet-width) {
      padding: 36px 0;
    }

    @media (min-width: @desktop-width) {
      padding: 20px 0;
    }
  }
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  row-gap: 41px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }
}

.footer__logo {
  justify-self: center;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }
}

.footer__logo-image {
  display: block;
  margin: 0;
  padding: 0;
  color: @dark-blue;
  fill: @pink;

  &:focus,
  &:hover {
    color: @pink;
  }

  &:active {
    color: fade(@dark-blue, 30%);
    fill: fade(@pink, 30%);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &--desktop {
    display: none;
    color: @dark-blue;
    fill: @pink;

    &:focus,
    &:hover {
      color: @pink;
      fill: @dark-blue;
    }

    &:active {
      color: fade(@dark-blue, 30%);
      fill: fade(@pink, 30%);
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    align-items: center;
    justify-content: flex-end;
    padding: 7px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 0 0 0;
  }
}

.footer__copyright-text {
  align-self: center;
  line-height: 18px;
  margin: 0 15px 5px 0;
  color: @dark-blue;

  @media (min-width: @tablet-width) {
    margin: 0 15px 10px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.footer__copyright-link {
  &:focus,
  &:hover {
    color: @dark-blue;
  }

  &:active {
    color: fade(@dark-blue, 30%);
  }
}

.footer__copyright-icon {
  color: @pink;

  &:focus,
  &:hover {
    color: @dark-blue;
  }

  &:active {
    color: fade(@dark-blue, 30%);
  }
}
