.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 51px 0;
}

.form__title {
  max-width: 960px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 55px 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 100px 40px 82px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 82px 95px 82px;
  }
}

.form__table-show {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.form__label {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 17px 10px;

  @media (min-width: @tablet-width) {
    margin: 0 0 56px 0;
    padding: 0 20px;
  }
}

.form__input {
  width: 100%;
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid @lightgray;
  border-radius: 1px;
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    order: 5;
  }
}

.form__button-submit {
  @media (min-width: @tablet-width) {
    width: 296px;
  }

  &:focus,
  &:hover {
    background-color: @extra-green;
    border: none;
  }

  &:active {
    color: fade(@white, 30%);
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 46px 0 0 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.form__asterix {
  color: @pink;
}

.form__text-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
