.form-achievement {
  background-color: @silver;
  margin: 0 -20px;
  padding: 42px 0 55px 0;

  @media (min-width: @tablet-width) {
    background-color: @white;
    margin: 0;
    padding: 0;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form-achievement__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @lightgray;
  }
}

.form-achievement__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
  margin: 0;
  padding: 0 50px;

  @media (min-width: @tablet-width) {
    padding: 0 31px;
  }
}

.form-achievement__list {
  margin: 0;
  padding: 44px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 49px 0 50px 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 49px 0 0 62px;
  }
}

.form-achievement__item {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 43px 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 260px;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(5) {
      order: 1;
    }
  }
}

.form-achievement__label {
  display: block;
  padding: 5px 0 4px 69px;
  cursor: pointer;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 59px;
  }

  &:hover::before {
    border-color: @dark-blue;
  }

  &:active::before {
    border-color: @pink;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: 2px solid @lightgray;
    border-radius: 2px;
    background-color: @white;
  }

  &::after {
    content: none;
    position: absolute;
    left: 8px;
    top: 11px;
    transform: rotate(-45deg);
    width: 21px;
    height: 10px;
    border-left: 2px solid @pink;
    border-bottom: 2px solid @pink;

    @media (min-width: @tablet-width) {
      top: 6px;
    }
  }
}

.form-achievement__input {
  &:checked + .form-achievement__label {
    &::after {
      content: "";
    }
  }

  &:disabled + .form-achievement__label {
    &::before,
    &::after {
      border-color: fade(@lightgray, 50%);
    }
  }
}
