.form-achievement {
  background-color: @silver;
  margin: 0 -20px;
  padding: 39px 0 50px 0;

  @media (min-width: @tablet-width) {
    background-color: @white;
    margin: 0;
    padding: 0;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form-achievement__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    border: 2px solid @lightgray;
  }
}

.form-achievement__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
  margin: 0;
  padding: 0 50px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -2%;
    left: 15%;
    padding: 0 31px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    top: -4%;
    left: 27%;
  }
}

.form-achievement__list {
  margin: 0;
  padding: 44px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 56px 0 55px 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 0 10px 63px;
  }
}

.form-achievement__item {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 51px 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 260px;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(5) {
      order: 1;
    }
  }
}

.form-achievement__label {
  display: block;
  padding: 0 0 0 79px;
  cursor: pointer;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 59px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 7%;
    top: -7%;
    width: 35px;
    height: 35px;
    border: 2px solid @lightgray;
    border-radius: 2px;
    background-color: @white;

    @media (min-width: @tablet-width) {
      left: 0%;
    }
  }

  &::after {
    content: none;
    position: absolute;
    left: 9%;
    top: 24%;
    transform: rotate(-45deg);
    width: 21px;
    height: 10px;
    border-left: 2px solid @pink;
    border-bottom: 2px solid @pink;

    @media (min-width: @tablet-width) {
      left: 1%;
      top: 24%;
    }

    @media (min-width: @desktop-width) {
      left: 3%;
    }
  }
}

.form-achievement__input {
  &:focus + .form-achievement__label::before,
  &:hover + .form-achievement__label::before {
    border-color: @dark-blue;
  }

  &:active + .form-achievement__label::before {
    border-color: @pink;
  }

  &:checked + .form-achievement__label {
    &::after {
      content: "";
    }
  }

  &:disabled + .form-achievement__label {
    &::before,
    &::after {
      border-color: fade(@lightgray, 50%);
    }
  }
}
