.form-radiobox {
  background-color: @silver;
  margin: 0 -20px;
  padding: 39px 0 45px 0;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 1;
    margin: 0;
    padding: 0;
  }
}

.form-radiobox__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  @media (min-width: @tablet-width) {
    border: 2px solid @lightgray;
  }
}

.form-radiobox__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
  margin: 0;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -3%;
    left: 20%;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    top: -14px;
    left: 30px;
  }
}

.form-radiobox__list {
  margin: 0;
  padding: 39px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 57px 40px 57px 37px;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 40px 60px 40px;
  }
}

.form-radiobox__item {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 45px 0;

  &:last-child {
    margin: 0;
  }
}

.form-radiobox__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 0 0 0 90px;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 82px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 91px;
  }
}

.form-radiobox__input {
  & + .form-radiobox__label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 23px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid @gray;
    background-color: @white;

    @media (min-width: @desktop-width) {
      top: -3px;
      left: 31px;
    }
  }

  &:checked + .form-radiobox__label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 34px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: @pink;

    @media (min-width: @desktop-width) {
      left: 42px;
    }
  }

  & + .form-radiobox__label:hover::before {
    border-color: @dark-blue;
  }

  & + .form-radiobox__label:active::before {
    border-color: @pink;
  }
}
