.grid-photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  justify-content: center;
  gap: 20px;

  @media (min-width: @desktop-width) {
    row-gap: 54px;
  }
}
