.grid-workshop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "item-1"
    "item-2";

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item-1 item-2";
    gap: 20px;
  }
}

.grid-workshop__item-1 {
  grid-area: item-1;
}

.grid-workshop__item-2 {
  grid-area: item-2;
}
