.header {
  position: relative;
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 324px;
  background-size: 230% 40%;
  background-repeat: no-repeat;
  color: @white;
  padding: 0 0 31px 0;

  @media @retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 365px;
    background-size: 100% 65%;
    padding: 0;

    @media @retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
    background-size: cover;

    @media @retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &-form,
  &-catalog {
    background-position: 50% 326px;
    background-size: 100% 60%;
    padding: 0;

    @media (min-width: @tablet-width) {
      background-position: 50% 365px;
      background-size: 100% 80%;
    }

    @media (min-width: @desktop-width) {
      background-position: 50% 0;
      background-size: 200% 200%;
    }
  }
}

.header__navigation-wrapper {
  background-color: fade(@black, 30%);
}

.header__promo-app {
  margin: 0 auto;
}

.header__titles {
  padding: 27px 20px 0 20px;
  min-height: 169px;

  @media (min-width: @tablet-width) {
    min-height: 330px;
    padding: 66px 20px 0 20px;
  }

  @media (min-width: @desktop-width) {
    min-height: 284px;
    padding: 59px 0 0 0;
  }
}

.header__subject {
  max-width: 960px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 170px;
  }

  &--form {
    @media (min-width: @desktop-width) {
      padding: 0 100px;
    }
  }
}
