.information-app {
  padding: 55px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 55px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    background-color: @silver;
    padding: 14px 0 67px 0;
  }

  &--current {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.information-app__wrapper {
  width: 620px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 71px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.information-app__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-app__image {
  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.information-app__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.information-app__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: @black;
  margin: 50px 0 0 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin: 80px 0 0 0;
  }
}

.information-app__description {
  margin: 25px 0;

  @media (min-width: @desktop-width) {
    margin: 37px 0 47px 0;
  }
}

.information-app__link {
  color: @pink;
}
