.main-navigation {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 27px 0 43px 0;
  }
}

.main-navigation__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  @media (min-width: @tablet-width) {
    padding: 22px 0 36px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.main-navigation__logo {
  display: flex;
  align-items: center;
  position: relative;

  &:focus svg {
    color: @pink;
    fill: @white;
  }
}

.main-navigation__image {
  display: block;
  color: @white;
  fill: @pink;

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }

    &:hover {
      color: @pink;
    }

    &:active {
      color: fade(@white, 30%);
    }
  }

  &--tablet {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }

    &:hover {
      color: @pink;
    }

    &:active {
      color: fade(@white, 30%);
    }
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }

    &:hover {
      color: @pink;
    }

    &:active {
      color: fade(@white, 30%);
      fill: fade(@white, 30%);
    }
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid @black;
  line-height: 32px;

  @media (min-width: @desktop-width) {
    width: 620px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    border-top: 0;
  }
}

.main-navigation__item {
  position: relative;
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin: 5px 0;
    padding: 0;
    border: 0;
  }

  &:not(:nth-child(4n + 4)) {
    @media (min-width: @desktop-width) {
      margin-right: 79px;
    }
  }
}

.main-navigation__link {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    text-transform: none;
    padding: 0;
  }

  &:focus::after,
  &:visited::after {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: @white;
    }
  }

  &:focus,
  &:hover {
    color: @pink;
  }

  &:active {
    color: fade(@pink, 30%);

    @media (min-width: @desktop-width) {
      color: fade(@white, 30%);
    }
  }
}

.main-navigation__toggle {
  position: relative;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  color: @white;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    align-self: flex-end;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5%;
    width: 28px;
    height: 4px;
    background-color: currentColor;

    @media (min-width: @tablet-width) {
      top: 65%;
    }
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    color: @pink;
  }

  &:active::after,
  &:active::before {
    color: fade(@pink, 30%);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
