.page-header__wrapper {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 150px;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 145px 1fr;
    gap: 425px;
  }

  @media (min-width: @tablet-width) {
    gap: 170px;
  }
}

.page-header {
  min-height: 735px;
  background-image: url("../../img/iphone--mobile.png"),
    url("../../img/bg-image--mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 37%, 0 0;
  background-size: auto, 100% 60%;
  background-color: var(--basic-extra-dark-2);

  @media (min-width: @tablet-width) {
    min-height: 730px;
    background-image: url("../../img/iphone--tablet.png"),
      url("../../img/bg-image--tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 0 0;
    background-size: auto, 100% 100%;
    background-color: var(--basic-extra-dark-2);
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/iphone--desktop.png"),
      url("../../img/bg-image--desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 0 0;
    background-size: auto, 100% 100%;
    background-color: var(--basic-extra-dark-2);
  }

  &--form {
    background: url("../../img/bg-image--mobile.png") no-repeat 0 0 / auto;
  }

  &--catalog {
    background: url("../../img/bg-image--mobile.png") no-repeat 0 0 / auto;
  }
}

.page-header__logo {
  width: 74px;

  @media (min-width: @tablet-width) {
    width: 145px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.page-header__image-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__image-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__image-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
