.promo-app {
  width: 100%;
  margin: 0;
}

.promo-app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.promo-app__title {
  width: 300px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
  text-align: center;
  margin: 30px 0 350px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 100px 0 40px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 115px 0 50px 0;
  }
}

.promo-app__button {
  margin: 0 0 32px 0;

  @media (min-width: @tablet-width) {
    width: 300px;
    background-color: transparent;
    margin: 0 0 46px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 67px 0;
  }
}

.promo-app__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.promo-app__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 35px 0 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 0 35px;

    &:last-child {
      margin: 0 0 0 35px;
    }
  }
}

.promo-app__text {
  font-weight: 300;
  color: @white;
  text-align: center;
  margin: 30px 0 40px 0;

  @media (min-width: @tablet-width) {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0 120px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 60px 0 130px 0;
  }
}
