.promo-app {
  width: 280px;
  background-image: url("../../img/iphone--mobile.png");
  background-position: 0 108px;
  background-size: auto;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 620px;
    background-image: url("../../img/iphone--tablet.png");
    background-position: -15px 110px;
    background-size: auto;
    padding: 93px 0 110px 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    background-image: url("../../img/iphone--desktop.png");
    background-position: 15px 145px;
    background-size: auto;
    padding: 98px 10px 130px 10px;
  }
}

.promo-app__content {
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.promo-app__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;
  margin: 29px 0 348px 0;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 28px 0 39px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 16px 0 51px 0;
  }
}

.promo-app__button {
  margin: 0 0 32px 0;

  &:focus,
  &:hover {
    background-color: @white;
    color: @pink;
    border: none;
  }

  &:active {
    color: fade(@pink, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    background-color: transparent;
    margin: 0 0 46px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 67px 0;
  }
}

.promo-app__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.promo-app__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 35px 0 0;

  &:last-child {
    margin: 0;
  }
}

.promo-app__text {
  font-weight: 300;
  color: @white;
  text-align: center;
  margin: 28px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 58px 0 0 0;
  }
}
