.range-controls {
  height: 60px;
  position: relative;
  padding: 39px 20px 34px 20px;
  background-color: @silver;
  display: none;
}

.range-controls__scale {
  width: 240px;
  height: 2px;
  background: @dark-blue;
}

.range-controls__toggle {
  position: absolute;
  top: 33px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid @pink;
  background-color: @white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
