.reviews {
  position: relative;
  padding: 0 0 14px 0;

  @media (min-width: @tablet-width) {
    padding: 97px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 71px 0 41px 0;
  }
}

.reviews__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.reviews__item {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 688px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.reviews__show {
  display: flex;
  flex-direction: column;
  margin: 0;

  &--disabled {
    display: none;
  }
}

.reviews__autor-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @black;
  margin: 41px 0 13px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 36px 0 0 0;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__autor-info {
  display: none;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 30px;
    display: block;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 113px 0 0 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 45%;
      width: 80px;
      height: 65px;
      background-image: url("../img/reviews-quotes.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.reviews__slider-controls {
  margin: 33px 0 13px 0;

  @media (min-width: @tablet-width) {
    margin: 36px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__slider-nav {
  display: flex;
  justify-content: space-between;
}
