.reviews {
  position: relative;
}

.reviews__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.reviews__item {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 660px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.reviews__show {
  display: flex;
  flex-direction: column;
  margin: 0;

  &--disabled {
    display: none;
  }
}

.reviews__autor-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @black;
  margin: 50px 0 31px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 50px 0 17px 0;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__autor-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
  }
}

.reviews__text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    padding: 120px 0 0 0;
  }
}

.reviews__pic-decor {
  display: none;
  position: absolute;

  @media (min-width: @desktop-width) {
    display: block;
    top: 0;
  }
}

.reviews__slider-controls {
  margin-top: 33px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__slider-nav {
  display: flex;
  justify-content: space-between;
}
