.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 0 14px 0 0;

  &:last-child {
    margin: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: @white;
  border: 3px solid fade(@dark-blue, 10%);
  border-radius: 50%;
  cursor: pointer;

  &:focus,
  &:hover {
    border: 3px solid @dark-blue;
  }

  &:active {
    border: 3px solid fade(@dark-blue, 10%);
  }
}

.social__twitter,
.social__facebook,
.social__youtube {
  color: @pink;

  &:active {
    color: fade(@pink, 30%);
  }
}
