.information-app__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--basic-dark);
}

.information-app__link {
  color: var(--basic-pink);
}

.information-app--current {
  display: none;
}
